<template>
  <v-snackbar v-model="snackbar" color="error" :timeout="timeout">
    {{ text }}
    <v-btn dark flat @click="snackbar = false">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data: () => ({
    text: 'Ha ocurrido un error',
    timeout: 3000,
    snackbar: false
  }),
  created() {
    this.snackbar = true;
    setTimeout(() => {
      this.$router.replace('/');
    }, this.timeout);
  }
};
</script>
