<template>
  <v-footer app inset>
    <v-spacer/>
    <v-tooltip top>
      <v-btn
        small
        icon
        flat
        color="grey"
        href="https://gitlab.com/TwireonEnix/swapp"
        target="_blank"
        slot="activator"
      >
        <v-icon>code</v-icon>
      </v-btn>
      <span>Ir al repositorio</span>
    </v-tooltip>
    <div
      class="caption grey--text mr-5"
    >Realizado por Darío Navarrete Caballero &copy; {{ new Date().getUTCFullYear() }}</div>
  </v-footer>
</template>

