<template>
  <v-toolbar app flat clipped-left extended extension-height="6">
    <v-toolbar-side-icon class="grey--text" @click.stop="toggleSidebar"/>
    <v-responsive>
      <v-avatar size="40">
        <img src="../../assets/img/swlogo.png" alt="swlogo">
      </v-avatar>
    </v-responsive>
    <v-toolbar-title class="headline text-uppercase grey--text">
      <span>Star</span>
      <span class="font-weight-light">Wars App</span>
    </v-toolbar-title>
    <v-spacer/>
    <v-btn class="grey--text" flat small fab router to="/">
      <v-icon>home</v-icon>
    </v-btn>
    <v-btn class="grey--text" flat small fab @click.stop="toggleDarkMode">
      <v-icon>brightness_4</v-icon>
    </v-btn>
    <v-progress-linear
      v-if="isLoading"
      slot="extension"
      :indeterminate="true"
      color="orange"
      class="ma-0"
    />
  </v-toolbar>
</template>

<script>
import { mapMutations, mapActions, mapGetters } from 'vuex';
export default {
  computed: mapGetters(['isLoading']),
  methods: {
    ...mapMutations(['toggleSidebar']),
    ...mapActions(['toggleDarkMode'])
  }
};
</script>