<template>
  <v-container>
    <v-layout xs12 sm8 md6 ma-5>
      <v-flex>
        <v-responsive>
          <v-img
            max-height="500"
            max-width="500"
            min-witdh="100"
            min-heigth="100"
            :src="require(`../../assets/img/404.jpg`)"
          />
        </v-responsive>
      </v-flex>
    </v-layout>
  </v-container>
</template>
