<template>
  <v-navigation-drawer app clipped v-model="drawer" width="200">
    <v-layout column align-center>
      <v-flex class="mt-5">
        <v-responsive>
          <v-avatar size="120">
            <img src="../../assets/img/star-wars-2.svg" alt>
          </v-avatar>
        </v-responsive>
      </v-flex>
      <v-list class="mt-5">
        <v-list-tile v-for="(link, i) of links" :key="i" router :to="link.route" class="my-3">
          <v-list-tile-action>
            <v-icon>{{link.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{link.text}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
export default {
  data: () => ({
    links: [
      { icon: 'home', text: 'Home', route: '/' },
      { icon: 'flight_takeoff', text: 'Mis naves', route: '/my-starships' }
    ]
  }),
  computed: {
    drawer: {
      get() {
        return this.$store.state.nav.sidebar;
      },
      set(value) {
        this.$store.commit('sidebar', value);
      }
    }
  }
};
</script>