<template>
  <v-dialog max-width="250px" v-model="dialog">
    <v-btn flat icon slot="activator" color="error">
      <v-icon>delete</v-icon>
    </v-btn>
    <v-card class="text-xs-center pa-3">
      <v-card-title>
        <h2 class="heading grey--text">Eliminar nave?</h2>
      </v-card-title>
      <v-card-actions>
        <v-btn color="error" @click="deleteShip(shipId)">Sí</v-btn>
        <v-btn color="grey" flat @click="dialog=false">No</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  props: ['shipId'],
  data: () => ({ dialog: false }),
  methods: mapActions(['deleteShip'])
};
</script>

<style>
</style>
