<template>
  <v-card flat class="text-xs-center ma-3">
    <v-responsive class="pt-4">
      <v-avatar size="100">
        <img :src="randomImage" alt>
      </v-avatar>
    </v-responsive>
    <v-card-text>
      <div class="headline grey--text">{{starship.name}}</div>
      <div class="subheading grey--text">{{starship.model}}</div>
      <div class="caption grey--text">Speed: {{starship.max_atmosphering_speed || starship.speed}}</div>
      <div
        class="caption grey--text"
      >Hyperdrive Rating: {{starship.hyperdrive_rating || starship.hyperdriveRating}}</div>
    </v-card-text>
    <v-card-actions class="text-xs-right">
      <v-spacer/>
      <v-btn
        small
        flat
        color="grey"
        fab
        v-if="starship._id"
        router
        :to="{ name: 'singleship', params: { id: starship._id }}"
      >
        <v-icon>more_horiz</v-icon>
      </v-btn>
      <StarshipDialog v-else :starship.sync="starship"/>
    </v-card-actions>
  </v-card>
</template>

<script>
import StarshipDialog from './StarshipDialog';
export default {
  props: ['starship'],
  components: { StarshipDialog },
  computed: {
    randomImage: () =>
      require(`../../assets/img/ships/${Math.floor(
        Math.random() * 11 + 1
      )}.png`)
  }
};
</script>