<template>
  <v-dialog max-width="600px" v-model="dialog">
    <v-btn flat slot="activator" color="grey">
      <v-icon small left>edit</v-icon>
      <span>Editar</span>
    </v-btn>
    <v-card class="pa-3">
      <v-card-title>
        <h2 class="heading grey--text">Editar nave</h2>
      </v-card-title>
      <v-card-text>
        <v-form class="px-3" ref="form">
          <v-text-field
            clearable
            label="Nombre"
            v-model="name"
            :error-messages="nameErrors"
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
            required
          />
          <v-text-field
            clearable
            label="Modelo"
            v-model="model"
            :error-messages="modelErrors"
            @input="$v.model.$touch()"
            @blur="$v.model.$touch()"
            required
          />
          <v-text-field
            clearable
            label="Velocidad"
            type="number"
            suffix="km/h"
            v-model.number="speed"
            :error-messages="speedErrors"
            @input="$v.speed.$touch()"
            @blur="$v.speed.$touch()"
            required
          />
          <v-text-field
            type="number"
            clearable
            label="Hyperdrive rating"
            v-model.number="hyperdriveRating"
            :error-messages="hyperDriveErrors"
            @input="$v.hyperdriveRating.$touch()"
            @blur="$v.hyperdriveRating.$touch()"
            required
          />
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey" flat @click="dialog = false">Cancelar</v-btn>
        <v-btn color="primary" flat @click="saveNewShip()" :loading="isLoading">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { validationMixin } from 'vuelidate';
import {
  required,
  minLength,
  maxLength,
  minValue
} from 'vuelidate/lib/validators';

export default {
  props: ['starship'],
  mixins: [validationMixin],
  data: () => ({
    dialog: false,
    isLoading: false,
    name: null,
    model: null,
    speed: null,
    hyperdriveRating: null
  }),
  beforeMount() {
    this.prepopulateFields();
  },
  watch: {
    dialog() {
      this.prepopulateFields();
    }
  },
  methods: {
    prepopulateFields() {
      this.name = this.starship.name;
      this.model = this.starship.model;
      this.speed = this.validateNumerInField(
        this.starship.max_atmosphering_speed
      );
      this.hyperdriveRating = this.validateNumerInField(
        this.starship.hyperdrive_rating
      );
    },
    validateNumerInField: value => {
      if (typeof value === 'number') return value;
      const number = value.match(/^\d*\.?\d+$/g);
      return number ? number[0] : 0;
    },
    saveNewShip() {
      if (this.$v.$invalid) return;
      this.isLoading = true;
      const newShip = {
        name: this.name,
        model: this.model,
        speed: this.speed,
        hyperdriveRating: this.hyperdriveRating
      };
      this.$store.dispatch('saveNewShip', newShip);
    }
  },
  validations: {
    name: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(255)
    },
    model: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(255)
    },
    speed: {
      required,
      minValue: minValue(0)
    },
    hyperdriveRating: {
      required,
      minValue: minValue(0)
    }
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push('El nombre es requerido');
      !this.$v.name.minLength && errors.push('Mínimo 3 caracteres');
      !this.$v.name.maxLength && errors.push('Máximo 255 caracteres');
      return errors;
    },
    modelErrors() {
      const errors = [];
      if (!this.$v.model.$dirty) return errors;
      !this.$v.model.required && errors.push('El modelo es requerido');
      !this.$v.model.minLength && errors.push('Mínimo 3 caracteres');
      !this.$v.model.maxLength && errors.push('Máximo 255 caracteres');
      return errors;
    },
    speedErrors() {
      const errors = [];
      if (!this.$v.speed.$dirty) return errors;
      !this.$v.speed.required && errors.push('La velocidad es requerida');
      !this.$v.speed.minValue &&
        errors.push('La velocidad no puede ser negativa');
      return errors;
    },
    hyperDriveErrors() {
      const errors = [];
      if (!this.$v.hyperdriveRating.$dirty) return errors;
      !this.$v.hyperdriveRating.required && errors.push('El dato es requerido');
      !this.$v.hyperdriveRating.minValue &&
        errors.push('No puede ser negativo');
      return errors;
    }
  }
};
</script>
