<template>
  <v-container>
    <h1 class="display-1 grey--text">Películas de Star Wars</h1>
    <MovieList :films="allFilms"/>
  </v-container>
</template>

<script>
import MovieList from '../components/Movie/MovieList';
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'Home',
  components: { MovieList },
  computed: mapGetters(['allFilms']),
  methods: mapActions(['getFilms']),
  created() {
    if (!this.allFilms.length) this.getFilms();
  }
};
</script>
