<template>
  <v-container>
    <h1 class="display-1 grey--text">Naves</h1>
    <v-layout wrap mt-5>
      <v-flex xs12 sm6 md4 lg3 v-for="(starship, index) of filmStarships" :key="index">
        <SingleStarship :starship="starship"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import SingleStarship from '../components/Starship/SingleStarship';
import { mapGetters } from 'vuex';
export default {
  components: { SingleStarship },
  computed: mapGetters(['filmStarships'])
};
</script>

<style>
</style>
