<template>
  <v-container>
    <h1 class="display-1 grey--text">Mis naves guardadas</h1>
    <div v-if="allMyShips.length !== 0">
      <v-layout class="mb-3" justify-end>
        <v-flex xs12 sm6 md6>
          <v-text-field append-icon="search" label="Filtrar por nombre" v-model="search"/>
        </v-flex>
      </v-layout>
      <v-layout wrap mt-5>
        <v-flex xs12 sm6 md4 lg3 v-for="(starship, index) of filteredShips" :key="index">
          <SingleStarship :starship="starship"/>
        </v-flex>
      </v-layout>
    </div>
    <v-layout v-if="filteredShips.length === 0" class="mt-4" justify-center>
      <v-flex xs12 sm8 md6>
        <v-alert :value="true" color="warning" icon="warning" outline>No hay naves.</v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import { mapActions } from 'vuex';
import SingleStarship from '../components/Starship/SingleStarship';

export default {
  data: () => ({ search: '' }),
  components: { SingleStarship },
  computed: {
    ...mapGetters(['allMyShips']),
    filteredShips() {
      return this.allMyShips.filter(ship => {
        if (this.search.trim() === '') return true;
        return ship.name.toLowerCase().includes(this.search.toLowerCase());
      });
    }
  },
  methods: mapActions(['getShips']),
  created() {
    this.getShips();
  }
};
</script>

<style>
</style>
