<template>
  <v-container>
    <v-layout row wrap align-center justify-center>
      <v-flex xs12 sm8 md6>
        <v-card v-if="oneStarship" class="text-xs-center ma-2">
          <v-toolbar class="elevation-1">
            <v-toolbar-title class="grey--text">{{oneStarship.name}}</v-toolbar-title>
            <v-spacer/>
            <DeletePrompt :shipId="oneStarship._id"/>
          </v-toolbar>
          <v-card-text class="mt-3">
            <div class="display-1 grey--text">{{oneStarship.model}}</div>
            <div class="subheading grey--text">Velocidad: {{oneStarship.speed}}</div>
            <div class="subheading grey--text">Hyperdrive Rating: {{oneStarship.hyperdriveRating}}</div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import DeletePrompt from '../components/Starship/DeletePrompt';
import { mapGetters, mapActions } from 'vuex';
export default {
  components: { DeletePrompt },
  computed: mapGetters(['oneStarship']),
  methods: mapActions(['getAShip']),
  created() {
    this.getAShip(this.$route.params.id);
  }
};
</script>