<template>
  <div>
    <v-layout class="mb-5" justify-end>
      <v-flex xs12 sm6 md6>
        <v-text-field append-icon="search" label="Buscar" v-model="search"></v-text-field>
      </v-flex>
    </v-layout>
    <v-data-table
      :headers="headers"
      :items="films"
      hide-actions
      class="elevation-2"
      :search="search.trim()"
    >
      <template slot="items" slot-scope="props">
        <tr @click="getFilmStarships(props.item.starships)">
          <td class="text-xs-center">{{ props.item.episode_id}}</td>
          <td>{{ props.item.title }}</td>
          <td class="text-xs-right">{{ props.item.director}}</td>
          <td class="text-xs-right">{{ props.item.producer}}</td>
          <td class="text-xs-right">{{ props.item.release_date}}</td>
        </tr>
      </template>
      <v-alert
        slot="no-results"
        :value="true"
        color="error"
        icon="warning"
        class="my-4"
      >No hay resultados para {{ search }}</v-alert>
    </v-data-table>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  props: ['films'],
  data: () => ({
    search: '',
    headers: [
      { text: 'No.', value: 'episode_id' },
      {
        text: 'Título de la película',
        align: 'left',
        sortable: false,
        value: 'title'
      },
      { text: 'Director', value: 'director' },
      { text: 'Productor', value: 'producer' },
      { text: 'Fecha de Salida', value: 'release_date' }
    ]
  }),
  methods: mapActions(['getFilmStarships'])
};
</script>

<style>
</style>
