<template>
  <v-app :dark="isDark" :class="{grey: !isDark, 'lighten-4': !isDark}">
    <appSidebar/>
    <appHeader/>
    <v-content class="ma-4">
      <transition name="slide" mode="out-in">
        <router-view/>
      </transition>
    </v-content>
    <appFooter/>
  </v-app>
</template>

<script>
import appHeader from './components/navigation/Header';
import appSidebar from './components/navigation/Sidebar';
import appFooter from './components/navigation/Footer';
import { mapGetters } from 'vuex';
export default {
  name: 'App',
  components: { appHeader, appSidebar, appFooter },
  computed: mapGetters(['isDark'])
};
</script>

<style lang="scss" scoped>
.slide-leave-active {
  transition: opacity 0.2s ease;
  opacity: 0;
  animation: slide-out 0.2s ease-out forwards;
}

.slide-leave {
  opacity: 0.5;
  transform: translateX(0);
}

.slide-enter-active {
  animation: slide-in 0.2s ease-out forwards;
}

@keyframes slide-out {
  0% {
    transform: translatezX(0);
  }
  100% {
    transform: translateX(-15px);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
</style>

